@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/roboto.woff2");
    font-weight: 300;
}

@font-face {
    font-family: "Graphic";
    src: url("../assets/fonts/graphik_regular.woff") format("truetype");
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Graphic";
    src: url("../assets/fonts/graphik_medium.woff") format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Graphic";
    src: url("../assets/fonts/graphik_semibold.woff2") format("truetype");
    font-display: swap;
    font-weight: 600;
}
@font-face {
    font-family: "Boing";
    src: url("../assets/fonts/boing_semibold_web.woff") format("truetype");
    font-display: swap;
    font-weight: 600;
}

html{
    color-scheme: light dark;
    font-size: clamp(16px, 1.2vw, 24px);
}

:root {
    font-family:  "Boing",  Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2 , h3 ,h4{
	text-wrap: balance ;
}

h1 {
    font-size: clamp(1rem, 4vw, 6rem);
}

.grid-row-auto{
    grid-template-rows: auto 1fr auto;
}



#phone-screen {
    isolation: isolate;
  box-shadow: 0 0 0rem .4rem  #3755be, 20px 20px 1rem #a4a4a4 ;
}

/* #notch::before{
    content: '';
    width: 0;
    height: 0;
    background: inherit;
    position: absolute;
    top: 0;
    left: -5%;
    display: block;
    border: 1rem solid #181818;
    border: 1rem solid red;
    border-radius: 0rem 1rem ;
    translate: 0 -2%;
    rotate: -10deg;
    box-shadow: 0px -2px 0 #181818 ;
    box-shadow: 0px -1px 0 red ; 
}

#notch::after{
    content: '';
    width: 0;
    height: 0;
    background: inherit;
    position: absolute;
    top: 0;
    right: -5%;
    display: block;
    border: 1rem solid #181818;
     border: 1rem solid red; 
    border-radius: 0rem 1rem ;
    rotate: 10deg;
    translate: 0 -2%;
    scale: -1  1;
    box-shadow: 0px -2px 0 #181818 ;
    overflow: hidden;
}
 */
